ul {
    list-style: none;
}

ul>a>li>img {
    width: 50px;
}

.d-flex li {
    position: relative;
    top: -950px;
    left: 70px;
}

li:hover {
    color: red;
}

a {
    text-decoration: none;
    color: white;
}

div>.image-1 {
    border: 10px solid white;
    height: 450px;


}

body {
    background-color: #ececec;
    width: 100%;
}

h2 {
    width: 100%;
    position: relative;
    top: 100px;
}

.para {
    position: relative;
    top: 160px;
    left: -300px;
}

.border{
    display: flex;
flex-direction: row;
justify-content:space-evenly;
border: 1px solid black;
/* position: relative;
top: 20px;
left:0px; */
margin: 0 auto;
width:100%;
padding: 1%;
}
.paras{
    position: relative;
    top:0;
    left:50px;
    padding:2%;
}
@media only screen and (max-width:600px){
    ul{
        display: inline;
    }
}